@page
@model Presentation.Pages.LogoutModel
@{
    Layout = "_Layout";
}

<h2>Logout</h2>

<p>Are you sure you want to log out?</p>

<form method="post">
    <button type="submit" asp-page-handler="Logout">Yes, log me out</button>
</form>
