*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0 200px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    height: 50px;
    border: 3px solid #ff0000;
}

main {
    border: 3px solid #1100ff;
    min-height: 100vh;

}

footer {
    width: 100%;
    height: 50px;
    border: 3px solid #00ff00;

    text-align: center;
}